* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html,
body {
  background-color: rgb(193, 193, 193);
  margin: 0;
  height: 100%;
  user-select: none;
}
header {
  width: 100;
  height: 100px;
  background-color: white;
}
footer {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: white;
}

.container {
  padding: 20px;
  width: 60%;
  transition: all 0.6s ease-in-out;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 140px);
  grid-template-rows: repeat(5, 220px);
  justify-content: space-evenly;
  padding-bottom: 200px;
}

img {
  width: 100%;
  height: 100%;
}

.grid-area {
  grid-area: 2/2/4/4;
}

.wrap {
  flex-flow: row wrap;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(0, 179, 140);
  color: #fff;
  height: 100%;
}
.navbar-items {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navbar a{
    text-decoration: none;
    color: #fff;
}

.logo {
  position: absolute;
  left: 20px;
  font-size: 25px;
  border-bottom: 6px solid rgb(14, 97, 120);
  border-top: 6px solid rgb(14, 97, 120);
  border-bottom-style: ridge;
  border-top-style: ridge;
  border-radius: 6px;
  text-shadow: 3px 3px 2px rgb(14, 97, 120);
}
li {
  list-style: none;
  text-shadow: 2px 2px 2px black;
  margin: 20px;
}

.dropdown-menu li {
  display: none;
  padding: 10px;
  width: 100px;
  justify-content: center;
}
.dropdown-menu {
  display: none;
  flex-direction: column;
  background-color: rgb(0, 179, 140);
  position: absolute;
  top: 84px;
  width: 100%;
}

.dropdown-menu li a:hover{

}

.dropdown-menu li a{
 
}

.paddingTop{
    padding-top: 220px;
}

.changeColor{
    background-color: rgb(0, 114, 90);
}

.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.icon {
  display: none;
  font-size: 25px;
}

.icon div {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  margin: 5px;
}

.rotateLeft{
    -webkit-transform: rotate(-45deg) translate(-3px, 3px);
    transform: rotate(-45deg) translate(-3px, 3px);
    transition: all 0.4s ease-in-out;
}
.rotateRight{
    -webkit-transform: rotate(45deg) translate(-4px, -4x);
    transform: rotate(45deg) translate(-4px, -4px);
    transition: all 0.4s ease-in-out;
}
.middleHide{
display: none;
}

.center {
  margin: auto;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .navbar-items .items {
    display: none;
  }
  .icon {
    display: block;
  }
}

@keyframes linkHover{
    0%{
        text-decoration: underline solid black 4px;
    }
    100%{

    }
}